<%= render 'shared/sidebar' %>
<div class="content">
  <div class="charts">
    <div class="chart">
      <%= column_chart charts_meal_calories_path, xtitle: "Meals", ytitle: "Energy", suffix: " kcal"%>
    </div>
    <div class="chart">
      <%= pie_chart charts_total_calories_path, donut: true %>
    </div>
    <div class="chart">
      <%= pie_chart charts_total_nutrients_path, donut: true %>
    </div>
  </div>
</div>
