<div class="banner">
  <div class="banner-text">
    <h1>Track your meals</h1>
    <p>Your own dashboard to keep track of your daily nutrition</p>
    <%= link_to 'Try now', new_user_session_path, class: 'btn btn-ghost'%>
  </div>
</div>