.wrapper {
  width: 18vw;
  background: white;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}

.meal-header {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  i {
    color: #2f323a;
    &:hover {
      color: #12664F;
    }
  }
}

.food-info {
  list-style-type: none;
  color: #2f323a;
}

.toggle-nutrients {
  cursor: pointer;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.add {
  padding-left: 15px;
  color: #2f323a;
  &:hover {
    color: #12664F;
    text-decoration: none;
  }
}

.back {
  color: #2f323a;
  &:hover {
    color: #12664F;
    text-decoration: none;
  }
}

.nutrient-info {
  font-size: 12px;
}
